<!DOCTYPE html>
<html lang="en">
<head>
    <title>Compedia</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div class="container">
        <div class="droparea">Input</div>
        <form method="POST" action="">
            <textarea name="textbox" cols="50" rows="5"></textarea>
            <br />
            <input type="submit" value="Submit"/>
        </form>

        <div class="droparea">{{ display_text }}</div>
    </div>
</body>
</html>
